/* font generico della pagina e reset body*/
*{
    font-family: "Montserrat", sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

:root{
    --colore-sfondo1: rgb(246, 246, 246);
}

/* reset generale colore link e icone menu */
a{
    text-decoration: none;
    color: inherit;
}

/* decorazione titoli */
h1, h2{
    color: rgba(39, 94, 102, 0.7);
    font-size: 50px;
}

h3, h3 > a, h4 > a{
    color: rgba(22, 31, 80, 0.7);
    text-decoration: none;
}

/* navbar in alto */
.header-total{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: white;
    position: sticky;
    top: 0px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.149);
}

.header-logo img{
    width: 120px;
    height: 50px;
    padding: 0px 40px 0px 20px;
}

.header-menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.header-menu-nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    padding-right: 100px;
}

.header-menu-nav ul li{
    margin: 12px;
}

.header-menu-aziende, .header-menu-contatti, .header-menu-nav ul li{
    font-size: 14px;
    margin-right: 10px;
}

.header-menu-contatti{
    padding-left: 20px;
}

.header-menu-nav ul li:hover, .header-menu-aziende:hover{
    border-bottom: 0.5px solid black;
}

/* header: font titolo principale e posizione*/

.blog-header{
    background-color: var(--colore-sfondo1);
    padding: 20px 0px 10px 6%;
}

.blog-header > h1{
    font-family: "Anton SC", sans-serif;
    margin: 0;
}

/* CSS per gli articoli, sia quelli in evidenza che gli altri */

.articoli{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blog-articoli-evidenza, .blog-articoli-total{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 25vh 0px;
    height: 70vh;
}

.blog-articoli-evidenza > h2, .blog-articoli-total > h2{
    text-align: center;
}

.blog-articoli-evidenza-container, .blog-articoli-total-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.blog-articoli-total{
    background-color: var(--colore-sfondo1);
    padding-top: 2%;
}

.blog-articoli-evidenza article, .blog-articoli-total article{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgba(64, 161, 176, 0.269);
    padding-bottom: 20px;
}

.blog-articoli-evidenza article img, .blog-articoli-total article img{
    width: 100%;
    height: auto;
}

.blog-articoli-evidenza h4, .blog-articoli-total h4{
    height: 3vh;
}

.blog-articoli-evidenza p, .blog-articoli-total p{
    height: 35%;
    padding: 5px 5px;
}

/* aside */
.articoli-side-total-container{
    display: flex;
    height: 100%;
}

aside{
    background-color: rgb(212, 198, 46);
    width: 40%;
}

aside h3, aside p{
    padding: 10px;
    font-size: 15px;
}

aside h3{
    text-align: center;
}

/* button e relativi hover */
.btn-color{
    padding: 10px;
    border: rgba(22, 31, 80, 0.998) 1px solid;
    background-color: var(--colore-sfondo1);
}

.btn-color:hover{
    background-color: rgba(131, 131, 204, 0.582)
}